<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KaptureLibrary.Processing.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KaptureLibrary.DebugSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KaptureLibrary.Kinect.CalibrationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KaptureLibrary.Processing.ImageAnalysis.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KaptureLibrary.Kinect.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KaptureLibrary.Processing.Registration.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KaptureLibrary.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KaptureLibrary.Processing.Settings>
            <setting name="ProcessEveryFrame" serializeAs="String">
                <value>True</value>
            </setting>
        </KaptureLibrary.Processing.Settings>
        <KaptureLibrary.DebugSettings>
            <setting name="DebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogRoot" serializeAs="String">
                <value>C:\Users\Matthew\Desktop\kapture3debug</value>
            </setting>
        </KaptureLibrary.DebugSettings>
        <KaptureLibrary.Kinect.CalibrationSettings>
            <setting name="MinZ" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="MaxZ" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="MaxY" serializeAs="String">
                <value>0.3</value>
            </setting>
        </KaptureLibrary.Kinect.CalibrationSettings>
        <KaptureLibrary.Processing.ImageAnalysis.Settings>
            <setting name="MinimumThresholdPixels" serializeAs="String">
                <value>200</value>
            </setting>
        </KaptureLibrary.Processing.ImageAnalysis.Settings>
        <KaptureLibrary.Kinect.Settings>
            <setting name="MinZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxY" serializeAs="String">
                <value>0</value>
            </setting>
        </KaptureLibrary.Kinect.Settings>
        <KaptureLibrary.Processing.Registration.Settings>
            <setting name="MinimumRegistrationError" serializeAs="String">
                <value>0.005</value>
            </setting>
            <setting name="MinimumSamplingDistance" serializeAs="String">
                <value>0.002</value>
            </setting>
            <setting name="SamplingProportion" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="MaxSamplingIterationProportion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaximumRegistrationIterations" serializeAs="String">
                <value>10</value>
            </setting>
        </KaptureLibrary.Processing.Registration.Settings>
        <KaptureLibrary.Settings>
            <setting name="MinimumThresholdPixels" serializeAs="String">
                <value>0</value>
            </setting>
        </KaptureLibrary.Settings>
    </userSettings>
</configuration>